build --action_env=BAZEL_DO_NOT_DETECT_CPP_TOOLCHAIN=1
build --incompatible_strict_action_env=true
build --incompatible_enable_cc_toolchain_resolution

test --sandbox_default_allow_network=false
test --test_output=errors

build:debug --verbose_failures --sandbox_debug --toolchain_resolution_debug

try-import %workspace%/.bazelrc.user
