# Copyright (c) Joby Aviation 2022
# Original authors: Thulio Ferraz Assis (thulio@aspect.dev), Aspect.dev
#
# Copyright (c) Thulio Ferraz Assis 2024
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

common --noenable_bzlmod

build --action_env=BAZEL_DO_NOT_DETECT_CPP_TOOLCHAIN=1
build --incompatible_strict_action_env=true
build --incompatible_enable_cc_toolchain_resolution

test --sandbox_default_allow_network=false
test --test_output=errors

build:debug --verbose_failures --sandbox_debug --toolchain_resolution_debug

# If you change these flags, please also update the documentation.
build:asan --features asan
build:asan --strip never
build:asan --action_env ASAN_OPTIONS=detect_leaks=0:color=always

# If you change these flags, please also update the documentation.
build:lsan --features lsan
build:lsan --strip never
build:lsan --action_env LSAN_OPTIONS=verbosity=1:log_threads=1:report_objects=1

# If you change these flags, please also update the documentation.
build:tsan --features tsan
build:tsan --strip never
build:tsan --action_env TSAN_OPTIONS=halt_on_error=1:second_deadlock_stack=1

# If you change these flags, please also update the documentation.
build:ubsan --features ubsan
build:ubsan --strip never
build:ubsan --action_env UBSAN_OPTIONS=halt_on_error=1:print_stacktrace=1

build:ci --keep_going

# Generic remote cache
build:ci --remote_download_toplevel
build:ci --remote_timeout=3600
build:ci --remote_upload_local_results

# Generic remote build execution
build:rbe --host_platform=//platforms:x86_64_linux_remote
build:rbe --extra_execution_platforms=//platforms:x86_64_linux_remote
build:rbe --cpu k8
build:rbe --crosstool_top=@gcc_toolchain_x86_64//:_cc_toolchain
build:rbe --strategy=remote
build:rbe --genrule_strategy=remote
build:rbe --spawn_strategy=remote
build:rbe --jobs=32

# BuildBuddy remote exec
build:rbe --remote_executor=grpcs://remote.buildbuddy.io

try-import %workspace%/.bazelrc.user
